# Particionamento e Bucketing

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import * 

spark = SparkSession.builder.master('local[*]').getOrCreate()

23/09/23 11:59:10 WARN Utils: Your hostname, elvin-Aspire-E1-571 resolves to a loopback address: 127.0.1.1; using 192.168.190.183 instead (on interface wlp3s0)
23/09/23 11:59:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/23 11:59:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [ ]:
spark.sql("create database desp")
spark.sql("use database desp")

desp_schema = "id INT, nome STRING, status STRING, cidade STRING, vendas INT, data STRING"
desp = spark.read.csv("/home/elvin/Documents/Engenharia-De-Dados/Cursos/Formação Spark com Pyspark - Udemy/04. Spark SQL/despachantes.csv", header=False, schema=desp_schema)

desp.write.saveAsTable("Despachantes")

In [6]:
spark.sql("show tables").show()

+---------+------------+-----------+
|namespace|   tableName|isTemporary|
+---------+------------+-----------+
|     desp|despachantes|      false|
+---------+------------+-----------+

In [7]:
churn = spark.read.csv("/home/elvin/download/Churn.csv", header=True, inferSchema=True, sep=";")

In [8]:
churn.show()

+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|CreditScore|Geography|Gender|Age|Tenure| Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|        619|   France|Female| 42|     2|       0|            1|        1|             1|       10134888|     1|
|        608|    Spain|Female| 41|     1| 8380786|            1|        0|             1|       11254258|     0|
|        502|   France|Female| 42|     8| 1596608|            3|        1|             0|       11393157|     1|
|        699|   France|Female| 39|     1|       0|            2|        0|             0|        9382663|     0|
|        850|    Spain|Female| 43|     2|12551082|            1|        1|             1|         790841|     0|
|        645|    Spain|  Male| 44|     8|11375578|            2|        1|             0|       14975671|     1|
|        822|   France|  Male| 50|     7|       0|            2|        1|             1|         100628|     0|
|        376|  Germany|Female| 29|     4|11504674|            4|        1|             0|       11934688|     1|
|        501|   France|  Male| 44|     4|14205107|            2|        0|             1|         749405|     0|
|        684|   France|  Male| 27|     2|13460388|            1|        1|             1|        7172573|     0|
|        528|   France|  Male| 31|     6|10201672|            2|        0|             0|        8018112|     0|
|        497|    Spain|  Male| 24|     3|       0|            2|        1|             0|        7639001|     0|
|        476|   France|Female| 34|    10|       0|            2|        1|             0|        2626098|     0|
|        549|   France|Female| 25|     5|       0|            2|        0|             0|       19085779|     0|
|        635|    Spain|Female| 35|     7|       0|            2|        1|             1|        6595165|     0|
|        616|  Germany|  Male| 45|     3|14312941|            2|        0|             1|        6432726|     0|
|        653|  Germany|  Male| 58|     1|13260288|            1|        1|             0|         509767|     1|
|        549|    Spain|Female| 24|     9|       0|            2|        1|             1|        1440641|     0|
|        587|    Spain|  Male| 45|     6|       0|            1|        0|             0|       15868481|     0|
|        726|   France|Female| 24|     6|       0|            2|        1|             1|        5472403|     0|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [9]:
churn.write.partitionBy("Geography").saveAsTable("Churn_geo")

In [10]:
spark.sql("select * from Churn_geo").show()

+-----------+------+---+------+--------+-------------+---------+--------------+---------------+------+---------+
|CreditScore|Gender|Age|Tenure| Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|Geography|
+-----------+------+---+------+--------+-------------+---------+--------------+---------------+------+---------+
|        619|Female| 42|     2|       0|            1|        1|             1|       10134888|     1|   France|
|        502|Female| 42|     8| 1596608|            3|        1|             0|       11393157|     1|   France|
|        699|Female| 39|     1|       0|            2|        0|             0|        9382663|     0|   France|
|        822|  Male| 50|     7|       0|            2|        1|             1|         100628|     0|   France|
|        501|  Male| 44|     4|14205107|            2|        0|             1|         749405|     0|   France|
|        684|  Male| 27|     2|13460388|            1|        1|             1|        7172573|     0|   France|
|        528|  Male| 31|     6|10201672|            2|        0|             0|        8018112|     0|   France|
|        476|Female| 34|    10|       0|            2|        1|             0|        2626098|     0|   France|
|        549|Female| 25|     5|       0|            2|        0|             0|       19085779|     0|   France|
|        726|Female| 24|     6|       0|            2|        1|             1|        5472403|     0|   France|
|        732|  Male| 41|     8|       0|            2|        1|             1|       17088617|     0|   France|
|        669|  Male| 46|     3|       0|            2|        0|             1|         848775|     0|   France|
|        846|Female| 38|     5|       0|            1|        1|             1|       18761616|     0|   France|
|        577|  Male| 25|     3|       0|            2|        0|             1|       12450829|     0|   France|
|        571|  Male| 44|     9|       0|            2|        0|             0|        3843335|     0|   France|
|        411|  Male| 29|     0| 5969717|            2|        1|             1|        5348321|     0|   France|
|        533|  Male| 36|     7|  853117|            1|        0|             1|       15673191|     0|   France|
|        475|Female| 45|     0|13426404|            1|        1|             0|        2782299|     1|   France|
|        850|  Male| 36|     7|       0|            1|        1|             1|         408129|     0|   France|
|        465|Female| 51|     8|12252232|            1|        0|             0|       18129765|     1|   France|
+-----------+------+---+------+--------+-------------+---------+--------------+---------------+------+---------+
only showing top 20 rows

In [12]:
churn.write.bucketBy(3, "Geography").saveAsTable("Churn_geo2")

In [13]:
spark.sql("select * from Churn_geo2").show()

+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|CreditScore|Geography|Gender|Age|Tenure| Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
|        619|   France|Female| 42|     2|       0|            1|        1|             1|       10134888|     1|
|        608|    Spain|Female| 41|     1| 8380786|            1|        0|             1|       11254258|     0|
|        502|   France|Female| 42|     8| 1596608|            3|        1|             0|       11393157|     1|
|        699|   France|Female| 39|     1|       0|            2|        0|             0|        9382663|     0|
|        850|    Spain|Female| 43|     2|12551082|            1|        1|             1|         790841|     0|
|        645|    Spain|  Male| 44|     8|11375578|            2|        1|             0|       14975671|     1|
|        822|   France|  Male| 50|     7|       0|            2|        1|             1|         100628|     0|
|        501|   France|  Male| 44|     4|14205107|            2|        0|             1|         749405|     0|
|        684|   France|  Male| 27|     2|13460388|            1|        1|             1|        7172573|     0|
|        528|   France|  Male| 31|     6|10201672|            2|        0|             0|        8018112|     0|
|        497|    Spain|  Male| 24|     3|       0|            2|        1|             0|        7639001|     0|
|        476|   France|Female| 34|    10|       0|            2|        1|             0|        2626098|     0|
|        549|   France|Female| 25|     5|       0|            2|        0|             0|       19085779|     0|
|        635|    Spain|Female| 35|     7|       0|            2|        1|             1|        6595165|     0|
|        549|    Spain|Female| 24|     9|       0|            2|        1|             1|        1440641|     0|
|        587|    Spain|  Male| 45|     6|       0|            1|        0|             0|       15868481|     0|
|        726|   France|Female| 24|     6|       0|            2|        1|             1|        5472403|     0|
|        732|   France|  Male| 41|     8|       0|            2|        1|             1|       17088617|     0|
|        636|    Spain|Female| 32|     8|       0|            2|        1|             0|       13855546|     0|
|        510|    Spain|Female| 38|     4|       0|            1|        1|             0|       11891353|     1|
+-----------+---------+------+---+------+--------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

# Cache e Persistência

In [14]:
from pyspark import StorageLevel

In [15]:
spark.sql("use desp")
spark.sql("show tables").show()

+---------+------------+-----------+
|namespace|   tableName|isTemporary|
+---------+------------+-----------+
|     desp|   churn_geo|      false|
|     desp|  churn_geo2|      false|
|     desp|despachantes|      false|
+---------+------------+-----------+

In [16]:
df = spark.sql("select * from despachantes")
df.show(2)

+---+----------------+------+-------------+------+----------+
| id|            nome|status|       cidade|vendas|      data|
+---+----------------+------+-------------+------+----------+
|  1|Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2| Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
+---+----------------+------+-------------+------+----------+
only showing top 2 rows

In [17]:
df.storageLevel #disco, memória, offheap, serializado, replicação

StorageLevel(False, False, False, False, 1)

In [18]:
df.cache()

DataFrame[id: int, nome: string, status: string, cidade: string, vendas: int, data: string]

In [19]:
df.storageLevel

StorageLevel(True, True, False, True, 1)

In [21]:
df.persist(StorageLevel.DISK_ONLY)

23/09/23 12:40:26 WARN CacheManager: Asked to cache already cached data.

DataFrame[id: int, nome: string, status: string, cidade: string, vendas: int, data: string]

In [22]:
df.unpersist()

DataFrame[id: int, nome: string, status: string, cidade: string, vendas: int, data: string]

In [24]:
df.persist(StorageLevel.DISK_ONLY)

DataFrame[id: int, nome: string, status: string, cidade: string, vendas: int, data: string]

In [25]:
df.storageLevel

StorageLevel(True, False, False, False, 1)