In [1]:
# DataFrames parte 1

In [8]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[*]').getOrCreate()

In [7]:
df1 = spark.createDataFrame([("Pedro", 10),("Maria", 20),("José", 40)])
df1.show()

+-----+---+
|   _1| _2|
+-----+---+
|Pedro| 10|
|Maria| 20|
| José| 40|
+-----+---+

In [9]:
schema = "Id INT, Nome STRING"
dados = [[1, "Pedro"],[2, "Maria"]]

df2 = spark.createDataFrame(dados, schema)
df2.show()

+---+-----+
| Id| Nome|
+---+-----+
|  1|Pedro|
|  2|Maria|
+---+-----+

In [10]:
df1.show(2)

+-----+---+
|   _1| _2|
+-----+---+
|Pedro| 10|
|Maria| 20|
+-----+---+
only showing top 2 rows

In [11]:
from pyspark.sql.functions import sum

schema2 = "Produtos STRING, Vendas INT"
vendas = [["Caneta", 10],["Lápis", 20],["Caneta", 40]]

df3 = spark.createDataFrame(vendas, schema2)

df3.show(2)

+--------+------+
|Produtos|Vendas|
+--------+------+
|  Caneta|    10|
|   Lápis|    20|
+--------+------+
only showing top 2 rows

In [13]:
agrupado = df3.groupBy("Produtos").agg(sum("Vendas")).show()

+--------+-----------+
|Produtos|sum(Vendas)|
+--------+-----------+
|  Caneta|         50|
|   Lápis|         20|
+--------+-----------+

In [14]:
df3.select("Produtos").show()

+--------+
|Produtos|
+--------+
|  Caneta|
|   Lápis|
|  Caneta|
+--------+

In [15]:
df3.select("Vendas","Produtos").show()

+------+--------+
|Vendas|Produtos|
+------+--------+
|    10|  Caneta|
|    20|   Lápis|
|    40|  Caneta|
+------+--------+

In [16]:
from pyspark.sql.functions import expr

df3.select("Produtos", "Vendas", expr("Vendas * 0.2")).show()

+--------+------+--------------+
|Produtos|Vendas|(Vendas * 0.2)|
+--------+------+--------------+
|  Caneta|    10|           2.0|
|   Lápis|    20|           4.0|
|  Caneta|    40|           8.0|
+--------+------+--------------+

# DataFrames Parte 2

In [17]:
df3.schema

StructType([StructField('Produtos', StringType(), True), StructField('Vendas', IntegerType(), True)])